{% extends "base.html" %}

{% block content %}
<nav class="navbar">
  <span class="navbar-brand mb-0 h1">foodie</span>
  <div class="nav-buttons">
  <a href="{{ url_for('account') }}" class="btn btn-primary">account</a>
  <a href="{{ url_for('logout') }}" class="btn btn-primary">log out</a>
</div>

</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div>
      {% for category, message in messages %}
      <div class="alert alert-warning">
        {{ message }}
      </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<div class="container">
  <h1>account settings</h1>
  <form action="{{ url_for('update_account') }}" method="post">
    <div class="form-group">
      <label for="name">new name:</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="form-group">
      <label for="email">new email:</label>
      <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="form-group">
      <label for="password">new password:</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="update">
    <button type="submit" class="btn btn-primary">update</button></div>
  </form>
</div>

{% endblock %}
