{% extends "base.html" %}

{% block content %}
<nav class="navbar">
    <span class="navbar-brand mb-0 h1">foodie</span>
    <a href="{{ url_for('logout') }}" class="btn btn-primary">log out</a>
  </nav>
  <div class="message-container alert alert-warning" style="display:none; background: none;"></div>

<div class="container">
    <h1>account</h1>
    <a href="{{ url_for('account_settings') }}" class="btn btn-info">account settings</a>

    <a href="{{ url_for('dashboard') }}" class="btn btn-info ">generate recipe</a>
    
    <a href="{{ url_for('links') }}" class="btn btn-info ">additional links</a>

    <h2>saved recipes:</h2>
    <table id="recipes-table">
      <thead>
        <tr>
            <th>number</th>
            <th>name</th>
            <th>actions</th>
        </tr>
    </thead>
        <tbody class="tbody">
        </tbody>
    </table>
</div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        fetchRecipes();
    });
    
    function deleteRecipe(recipeId) {

        fetch(`/delete-recipe/${recipeId}`, { method: 'POST' })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                displayMessage("recipe deleted successfully", "success");
                fetchRecipes();
            } else {
                displayMessage(data.error, "error");
            }
        });
    }


function displayMessage(message, type) {
    const messageContainer = document.querySelector('.message-container');
    messageContainer.style.display = 'block';
    messageContainer.textContent = message;
    if (type === "success") {
        messageContainer.style.backgroundColor = "pin";
    } else {
        messageContainer.style.backgroundColor = "pink";
    }
}

    function fetchRecipes() {
        fetch('{{ url_for("get_recipes") }}')
        .then(response => response.json())
        .then(data => {
            const tableBody = document.getElementById('recipes-table').getElementsByTagName('tbody')[0];
            tableBody.innerHTML = ''; 
            data.forEach((recipe, index) => {
                const row = tableBody.insertRow();
                row.innerHTML = `
                <td>${index + 1}</td>
                <td>${recipe.name}</td>
                <td style="text-align:"center;">
                    <button onclick="deleteRecipe('${recipe.id}')" style="border: none; background: transparent; padding: 0; margin: 3px;"><i class="fa fa-trash-o"></i></button>
</button>
<button onclick="downloadRecipe('${recipe.id}', '${recipe.name}')" style="border: none; background: transparent; padding: 0; margin: 3px;"><i class="fa fa-download"></i></button>
                </td>
                `;
            });
        });
    }

    function downloadRecipe(recipeId, recipeName) {
        window.location.href = `/download-diet/${recipeName}`;
    }
    
    </script>
  {% endblock %}
