{% extends "base.html" %}

{% block content %}
<nav class="navbar">
  <span class="navbar-brand mb-0 h1">foodie</span>
</nav>

<div class="container">
  <div class="index_page">
  <h1>welcome to foodie!</h1>
  <p>created to help you improve your eating habbits, enjoy!</p>
  <div class="index_text">
  <a href="/signup">sign up here</a>
  <a href="/login">log in here</a>
</div>
</div>
<div class="index_picture">
<img src="../static/android/android-launchericon-192-192.png"/></div>
</div>
{% endblock %}
